.homeSvgScroll {
  height: 150px;
  position: absolute;
  right: 10%;
  top: 45%;
  animation: scroll 1.6s infinite  linear alternate ;
}


@keyframes scroll {
    form {
        transform: translate(-5px, 7px);
      }
      to {
        transform: translate(10px, 15px);
      }
}
