.aboutSvgMech {
  height: 140px;
  position: absolute;
  right: -20vw;
  top: 20%;
  animation: mech 2s infinite linear alternate;
}

@keyframes mech {
  0% {
    transform: translate(-10px, 5px);
  }
  50% {
    transform: translate(-5px, 10px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}
